*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    background: transparent;
    font-family: 'Space Grotesk', sans-serif;
}

body {
    overflow: hidden;
    overflow-y: scroll;
    
    
}

body.dark {
  color: beige;
  background-color: #181614;
  background-attachment: fixed;
}


body.light {
  color: #181614;
  background-color: beige;
  background-attachment: fixed;
}



