#skills {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6rem 2rem;
}

/* TEXT COLOR */

#skills{
  color:beige;
}

body.light #skills{
  color:#1a1a1a;
}

/* CONTAINER */

.skillsContainer {
  width: 100%;
  max-width: 1100px;
}

/* TITLE */

.skillsTitle {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 4rem;
  border-bottom: 2px solid rgb(212,163,64);
  display: inline-block;
  padding-bottom: .5rem;
}

/* GROUP */

.skillsGroup {
  margin-bottom: 4rem;
}

.skillsGroup h3 {
  margin-bottom: 2rem;
  font-weight: 500;
}

/* GRID */

.skillsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(140px,1fr));
  gap: 2rem;
}

/* CARD */

.skillCard {
  background:#1f1f1f;
  border-radius: 12px;
  padding: 1.5rem;
  text-align: center;

  box-shadow: 0 10px 30px rgba(0,0,0,0.5);

  opacity: 0;
  transform: translateY(40px);
  transition: all .6s ease;
}

/* LIGHT MODE CARD */

body.light .skillCard{
  background:beige;
  box-shadow:0 10px 30px rgba(0,0,0,0.08);
}

/* ICON */

.skillCard img {
  width: 60px;
  margin-bottom: .7rem;
}

/* TEXT */

.skillCard p {
  font-size: .9rem;
  font-weight: 500;
}

/* SHOW ANIMATION */

.skillsGrid.show .skillCard {
  opacity: 1;
  transform: translateY(0);
}

/* HOVER */

.skillCard:hover {
  transform: translateY(-6px);
  box-shadow: 0 20px 40px rgba(0,0,0,0.3);
}

body.light .skillCard:hover{
  box-shadow:0 20px 40px rgba(0,0,0,0.15);
}

/* NAME */

.skillName{
  font-weight:600;
  margin-bottom:5px;
}

/* LEVEL BADGE */

.skillLevel{
  font-size:.75rem;
  padding:4px 10px;
  border-radius:20px;
}

/* COLORS */

.beginner{
  background:#ffe4e4;
  color:#d64545;
}

.intermediate{
  background:#fff4d6;
  color:#c28b00;
}

.advanced{
  background:#dff5e1;
  color:#1f8b3d;
}