/* ================= BASE ================= */

.aboutWrapper {
  color: beige;
  overflow: hidden;
}

/* LIGHT MODE */

body.light .aboutWrapper,
body.light .aboutLabel,
body.light .heroRight,
body.light .aboutText blockquote,
body.light .aboutText p {
  color: #1a1a1a;
}

body.light .aboutCard {
  color: #1a1a1a;
  background-color: beige;
}

/* ================= HERO ================= */

.aboutHero {
  height: 100vh;
  padding: 0 8%;
  display: flex;
  align-items: center;
}

.heroGrid {
  display: grid;
  grid-template-columns: 1fr auto;
  width: 100%;
  align-items: end;
}

.heroLeft {
  display: flex;
  flex-direction: column;
}

.aboutLabel {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 40px;
  font-size: 0.9rem;
}

.dot {
  width: 12px;
  height: 12px;
  background: #e4b15b;
  border-radius: 50%;
}


.heroLeft h1 {
  font-size: clamp(6rem, 9vw, 9rem);
  font-weight: 700;
  line-height: 1.05;
  margin: 0;
}


.heroRight {
  align-self: end;
  font-size: 1.5rem;
  margin-bottom: 15px;
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

.breadcrumbLink {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
  transition: 0.3s ease;
}

.breadcrumbLink:hover {
  color: #e4b15b;
}

.heroRight .active {
  color: #e4b15b;
  font-weight: 600;
  cursor: default;
}

/* ================= CARD ================= */

.aboutCard {
  width: 84%;
  margin: -160px auto 120px;
  background: #1a1a1a;
  border-radius: 20px;
  padding: 60px;
  box-shadow: 0 25px 60px rgba(0,0,0,0.4);
}

.aboutCard h2 {
  font-size: 2.5rem;
  margin-bottom: 50px;
}

/* ================= CARD CONTENT ================= */

.cardContent {
  display: flex;
  align-items: center;
  gap: 60px;
}

.aboutImage img {
  width: 420px;
  border-radius: 16px;
}

.aboutText {
  flex: 1;
}

.aboutText blockquote {
  font-size: 1.6rem;
  line-height: 1.5;
  margin-bottom: 30px;
}

.aboutText h3 {
  font-size: 1.4rem;
  margin-bottom: 8px;
}

.role {
  color: #e4b15b;
  display: block;
  margin-bottom: 20px;
}

.aboutText p {
  line-height: 1.7;
  max-width: 600px;
}

/* ================= RESPONSIVE ================= */

@media (max-width: 1024px) {

  .heroLeft h1 {
    font-size: 4rem;
  }

  .cardContent {
    flex-direction: column;
    text-align: center;
  }

  .aboutImage img {
    width: 100%;
    max-width: 400px;
  }
}

@media (max-width: 768px) {

  .heroRight {
    justify-content: flex-start;
    font-size: 0.9rem;
    margin-top: 20px;
  }
}