#intro {
  position: relative;
  height: calc(100vh - 7rem);   /* FULL SCREEN minus navbar */
  width: 100%;
  margin: 0;
  padding: 0 6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}

.img-frame {
  position: absolute;
  top: 60%;
  right: 13rem;
  transform: translateY(-70%);
  width: 450px;
  height: 450px;
  display: flex;
  align-items: first baseline;
  justify-content: center;
  z-index: 1;
}



.img-frame::before {
  content: "";
  position: absolute;
  width: 480px;
  height: 480px;
  top: 10px; /* 👈 inaangat ang diamond */
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
  background: transparent;
  border: 6px solid rgb(212, 163, 64);
  border-radius: 5%;
  z-index: -1;
}
.img-frame::after {
  content: "";
  position: absolute;
  width: 480px;
  height: 480px;
  top: 10px;
  left: 50%;
  transform: translateX(-50%) rotate(53deg);
  background: transparent;
  border: 6px solid rgb(212, 163, 64);
  border-radius: 5%;
  z-index: -1;
}


.bg {
  max-width: 600px;
  max-height: 600px;
  object-fit: contain;
  border-radius: 6px;
  transition: transform 0.2s ease;
}


.introcontent {
  height: 100%;
  padding: 2rem;
  font-size: 3rem;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10rem;
}

.hello {
  font-size: 1.75rem;
  font-weight: 100;
  margin-top: 10rem;
}

.introName {
  color: rgb(212, 163, 64);
  
}
.introName::after {
    margin-left: 4px;
    animation: blink 1s infinite;
}

@keyframes blink {
    0%, 50%, 100% { opacity: 1; }
    25%, 75% { opacity: 0; }
}



.introPara {
  font-size: medium;
  font-weight: 300;
  letter-spacing: 1px;
  
}
.introBtn {
    margin-top: 1rem;
    padding: 0.75rem 1.3rem;
    font-size: 0.8rem;
    max-width: 7.8rem;
    background-color: beige;
    color: #000;
    border-radius: 0.5rem;
    text-decoration: none;
    display: inline-block;

    transition: transform 0.2s ease, background-color 0.3s ease;
}

.introBtn:hover {
    transform: scale(1.05);
    background-color: rgb(230, 180, 80);
}
.light .introBtn{
  background-color: rgb(24, 22, 20);
  color: beige;   
}
.light .introBtn:hover {
    transform: scale(1.05);
    background-color: rgb(230, 180, 80);
}
.introButtons {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 0.2rem;
}

.socialIcon {
  height: 2.6rem;
  width: 2.6rem;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: transform 0.2s ease, background-color 0.3s ease;
}
.socialIcon {
  margin-left: 0;
  margin-top: 1rem; 
}

.socialIcon img {
  width: 64px;
  height: 32px;
  object-fit: contain;
}


@media (max-width: 900px) {
  .img-frame {
    position: static;
    margin: 2rem auto;
    transform: none;
  }

  .introcontent {
    font-size: 2rem;
    text-align: center;
  }
}

@media (max-width: 600px) {
  .img-frame {
    opacity: 0.4;
  }

  .introcontent {
    font-size: 1.8rem;
  }
}
